<a href="https://colab.research.google.com/github/LoKe220723/Reinforcement-Learning/blob/main/Experiment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
def quicksort(arr):
  if len(arr) <= 1:
      return arr
  pivot = arr[len(arr)//2]
  left = [x for x in arr if x < pivot]
  middle = [x for x in arr if x == pivot]
  right = [x for x in arr if x > pivot]
  return quicksort(left) + middle + quicksort(right)
print(quicksort([3,6,8,10,1,2,1]))

[1, 1, 2, 3, 6, 8, 10]

In [5]:
a=10//2
a

5

In [8]:
a=10/2
a

5.0

In [10]:
x = 30
print(x,type(x))

30 <class 'int'>

In [11]:
print(x+1)
print(x-1)
print(x*2)
print(x**2)

31
29
60
900

In [13]:
x+=1
print(x)
x*=2
print(x)

31
62

In [12]:
y=2.5
print(type(y))
print(y,y+1,y*2,y**2)

<class 'float'>
2.5 3.5 5.0 6.25

In [16]:
z= 6055500.1011
print(type(z))

<class 'float'>

In [17]:
t,f= True, False
print(type(t))

<class 'bool'>

In [18]:
print( t and f)
print( t or f)
print( not f)
print( t != f)

False
True
True
True

In [21]:
s1 = 'Lokesh'
s2 = "Sharma"
print(s1, len(s2))

Lokesh 6

In [23]:

Ls = s1 + ' '+s2
print(Ls)

Lokesh Sharma

In [24]:
print(len(Ls))

13

In [36]:
hw12 = '{} {}'.format(s1,s2)
print(hw12)
print(len(hw12),12,14,14)

Lokesh Sharma
13 12 14 14

In [47]:
T = 'player '
print(T.capitalize())
print(T.upper())
print(T.rjust(7))
print(T.center(7))
print(T.replace('1','2'))
print(' troops '.strip())

Player
PLAYER
 player
 player
player
troops

In [50]:
R = 'machine learning'
print(R.capitalize())
print(R.title())

Machine learning
Machine Learning

***LIST***

In [63]:
xs = [3,1,2,4]
print(xs,xs[2])
print(xs[-4])
xs.append('bar')
print(xs)

[3, 1, 2, 4] 2
3
[3, 1, 2, 4, 'bar']

In [64]:
x=xs.pop(3)
x,xs

(4, [3, 1, 2, 'bar'])

In [69]:
nums= list(range(10))
print(nums)
print(nums[2:4])
print(nums[2:])
print(nums[:])
print(nums[:2])
print(nums[:-1])
nums[2:4]= [8,9]
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3]
[2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 8, 9, 4, 5, 6, 7, 8, 9]

***LOOP***

In [70]:
animals = ['cat','dog','monkey']
for x in animals:
  print(x)

cat
dog
monkey

In [73]:
animals = ['cat','dog','monkey']
for idx,x in enumerate(animals):
  print('#{} {}'.format(idx + 1, x))

#1 cat
#2 dog
#3 monkey

LIST COMPREHESION